#cityImage {
    max-width: 10%;
    height: auto;
}

#cityImage:hover {
    transform: scale(2); /* Zoom level */
    transition: transform .2s; /* Smooth transition */
}

#userImage {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

#userImage:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


.main404content {
    height: 600px;
    width: 100%;
}


.main500content {
    height: 400px;
    width: 100%;
}